* {
    box-sizing: border-box;
}

.box img {
    display: block;
    margin:auto;
    cursor: pointer;
}

body {
    background-image: url(../img.jpg);
    margin: 0;
    color: #4db352;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    object-fit:fill ;
}

.board {
    font-family: "Audiowide", sans-serif;
    position: absolute;
    left: 450px;
    text-align: center;
   
}

h1 {
    height: 100x;
    width: 600px;
    padding: 20px;
    font-size: 40px;
    margin-left: 30px;
    font-style: oblique;
}

.buttons button {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 50px;
    width: 155px;
    height: 40px;
    border-radius: 50%;
    transition: 2s;
    display: inline-block;
}

.Beginner {
    color: black ;
}

.Intermediate {
    color: black ;
}

.Expert {
    color: black ;
}

.Beginner:hover {
    background-color:black ;
    color: white;
}

.Intermediate:hover {
    background-color: black ;
    color: white;
}

.Expert:hover {
    background-color:black ;
    color: white;
}

.divider {
    margin-left: 30px;
}

.timer {
    display: inline-block;
    width: 150px;
    height: 90px;
    background-color: rgb(221, 211, 211);
    padding: 10px 30px;
    border: outset 5px white;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
}

.smiley {
    border: outset 5px white;
    display: inline-block;
    margin-left: 60px;
    font-size: 40px;
    height: 60px;
    width: 70px;
    background-color: rgb(221, 211, 211);
    border-radius: 10px;
    border-radius: 50%;
}

.mines-counter {
    display: inline-block;
    width: 150px;
    height: 90px;
    background-color:rgb(221, 211, 211);
    padding: 10px 30px;
    border: outset 5px white;
    margin-left: 60px;
    border-radius: 50%;
}
.game-board {
    margin: auto;
    margin-top: 10px;
    width: 400px;
    height: 400px;
    padding: 10px;
}

table {
    width: 90%;
    height: 90%;
    table-layout: fixed;
}

tr {
    height: 7.5%;
}

td {
    font-size: 100%;
}

.cell {
    background-color:rgb(15, 77, 30)
}

.cell:hover {
    background-color: rgb(24, 104, 71)
}

.hide {
    display: none;
}

.footer {
    color: black;
}
 